// // Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './font-awesome/fontawesome';
@import './font-awesome/brands';
@import './font-awesome/solid';

.product_card {
  min-height: 500px;
}

.range_subtitle {
  font-size: 24px;
}

.product_card_subitle {
  font-size: 15px;
}
